<div class="container" id='container'>
	<h1>Quizzes</h1>
	<% @quizzes.each do |quiz| %>
		<%= render 'quiz', quiz: quiz %>
	<% end %>
	<%= link_to "创建题目", new_quiz_path, remote: true, id: "quiz_new_button" %>
	<%= render 'form' %>
</div>
