<div class="row">
	<div id="quiz_picture_section" class='small-3 columns'>
		<button id="quiz_pic_upload_button">上传图片</button>
	</div>
	<div class="small-9 columns">
		<%= render 'form' %>
	</div>
</div>
