default: &default
  adapter: postgresql
  host: localhost
  username: jizilong
  password: 
  port: 5432
  encoding: UTF8

development:
  <<: *default
  database: yum_development
test:
  <<: *default
  database: yummy_test
production:
  <<: *default
  database: yummy_production